<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <title>Portafolio Andrey Castañeda</title>
    </head>
    <body>
        <div class="wrapper">
            <header>
              <nav class="navbar">
                <div class="brand">
                  <h2>A<span>C</span></h2>
                </div>
                <ul class="menu">
                  <li><a href="/Educacion ">Educacion</a></li>
                  <li><a href="/Laboral">Laboral</a></li>
                </ul>
              </nav>
            </header>
            <main class="main">
              <div class="info-content">
                <h1><span>Andrey</span> Castañeda</h1>
                 <p>Desarrollador de software egresado del SENA,
                  gran capacidad para la resolución de
                  problemas, creación y diseño de software,
                  buena actitud de servicio, trabajo en equipo,
                  seguimiento de instrucciones y compromiso.</p>
                 <a download href="/static/CV Andrey Castañeda.pdf"><button class="download-cv">Descargar HV</button></a>
              </div>
              <img src="/static/img1.jpeg" alt="">
            </main>
          </div>
            <div class="portfolio">
              <div class="portfolio-heading">
                <h2>Mis Proyectos</h2>
                <div class="divider"></div>
              </div>
              <div class="container">
                <div class="card">
                  <div class="card__img">
                  </div>
                  <div class="card__title">
                    <h2>Project Description</h2>
                  </div>
                  <div class="card__proyect-links">
                    <a href="#">
                      <i class="fab fa-github"></i>
                    </a>
                    <a href="">
                      <i class="fas fa-globe-asia"></i>
                    </a>
                    <a href="">
                      <i class="fas fa-code"></i>
                    </a>
                  </div>
                  <div class="button-content">
                    <button class="project-details-button download-cv">
                      <a href="#">Project Details</a>
                    </button>
                  </div>
                </div>
                <div class="card">
                  <div class="card__img">
                  </div>
                  <div class="card__title">
                    <h2>Project Description</h2>
                  </div>
                  <div class="card__proyect-links">
                    <a href="#">
                      <i class="fab fa-github"></i>
                    </a>
                    <a href="">
                      <i class="fas fa-globe-asia"></i>
                    </a>
                    <a href="">
                      <i class="fas fa-code"></i>
                    </a>
                  </div>
                  <div class="button-content">
                    <button class="project-details-button download-cv">
                      <a href="#">Project Details</a>
                    </button>
                  </div>
                </div>
                <div class="card">
                  <div class="card__img">
                  </div>
                  <div class="card__title">
                    <h2>Project Description</h2>
                  </div>
                  <div class="card__proyect-links">
                    <a href="#">
                      <i class="fab fa-github"></i>
                    </a>
                    <a href="">
                      <i class="fas fa-globe-asia"></i>
                    </a>
                    <a href="">
                      <i class="fas fa-code"></i>
                    </a>
                  </div>
                  <div class="button-content">
                    <button class="project-details-button download-cv">
                      <a href="#">Project Details</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="contact-section">
              <div class="contact-heading">
                <h2>Contáctame</h2>
                <div class="divider"></div>
              </div>
              <div class="container-contact">
                <img src="/static/img3.jpg" alt="">
                <div class="contact-form">
                  <h4>Envíame un mensaje.</h4>
                  <form class="form-group">
                    <input type="text" placeholder="Nombre" class="input">
                    <input type="email" placeholder="Email" class="input">
                    <textarea name="message" placeholder="Escribe aquí tu mensaje"></textarea>
                    <button type="submit" class="btn-submit">enviar mensaje</button>
                  </form>
                </div>
              </div>
            </div>
          
            <footer class="footer"> 
              <div class="footer-content">
                <h2>Andrey Castañeda</h2>
                <h5>DESARROLLADOR DE SOFTWARE</h5>
              </div>
              <div class="sotial-networks">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter-square"></i>
              </div>
            </footer>
    </body>
    </html>