<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/css/style.css">
    <title>Portafolio Andrey Castañeda</title>
</head>
<body>
    <div id="contenedor">
        <div id="encabezado">
            <p>Andrey Castañeda</p>
        </div>
        <div id="cuadrito">
            <hr>
            <br>

            </div>
        </div>    
    </div>
    <div class="educacion"></div>
    <div class="laboral">
    <div class="contacto"></div>   
    <div class="habilidades"></div>
</body>
</html>