<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/css/style.css">
    <script src="./js/main.js"></script>
</head>
<body>
    <div class="wrapper">
        <header>
          <nav class="navbar">
            <div class="brand">
              <h2>A<span>C</span></h2>
            </div>
            <ul class="menu">
              <li><a href="/"  class="active">Inicio</a></li>
              <li><a href="/Educacion ">Educacion</a></li>
            </ul>
          </nav>
        </header>
    <div class="aboutt">
        <img src="/static/img5.jpg" alt="">
        <div class="about-info">
          <h2>RESUMEN PROFESIONAL</h2>
          <div class="divider"></div>
          <p>Creaciones Alejandra
            Vendedor<br>
            Febrero 2021- Enero 2022<br>
            Cargo realizado:<br>
            Organización de mercancía, Auxiliar de ventas y
            Atención al cliente   
            </p>
        </div>
      </div>
      <footer class="footer"> 
        <div class="footer-content">
          <h2>Andrey Castañeda</h2>
          <h5>Developer</h5>
        </div>
        <div class="sotial-networks">
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-twitter-square"></i>
        </div>
      </footer>
</body>
</html>